<% layout("layouts/boilerPlate.ejs") %>
<div class="container text-center mt-5 p-4 err">
    <%=status%>    
</div>
<center><p><%=message%></p></center>
<center class="f-info-links"><a href="http://localhost:8080/listings">&larr; Back</a></center>
